$gray-000:        #fafbfc !default;
$gray-100:        #f6f8fa !default;
$gray-200:        #e1e4e8 !default;
$gray-300:        #d1d5da !default;
$gray-400:        #959da5 !default;
$gray-500:        #6a737d !default;
$gray-600:        #586069 !default;
$gray-700:        #444d56 !default;
$gray-800:        #2f363d !default;
$gray-900: 	#24292e !default; // body font color

$blue: #0366d6 !default;
$secondary: $gray-300 !default;
$border-color: $gray-300 !default;
$input-border-color: $border-color !default;

@import "node_modules/bootstrap/scss/bootstrap";

$nav-height: 4.5rem;

html {
	font-size: 14px;
}

.desk {
	padding: 0px;
}

.nav {
	display: none;
	border-bottom: 1px solid $border-color;
	align-items: center;
	justify-content: center;
}

.two-column {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: minmax(100%, auto);
}

.main, .sidebar {
	padding: 2rem;
	min-height: 100vh;
}

.sidebar {
	border-right: 1px solid $border-color;
}

.hide {
	display: none !important;
}

.page-error {
	text-align: center;
	padding: 200px 0px;
}

.form-body {
	.form-toolbar {
		height: 2rem;
		margin-bottom: 1rem;
	}

	.alert {
		margin-top: 1rem;
	}
}

textarea.form-control {
	line-height: 1.5;
}

.list-search {
	max-width: 400px;
	margin-bottom: 1rem;
}