@import "./variables.scss";
@import "node_modules/frappe-datatable/dist/frappe-datatable";

.dt-header {
    background-color: $gray-200 !important;
}

.dt-cell__edit {
    padding: 0px;

    input, textarea {
        outline: none;
        border-radius: none;
        border: none;
        margin: none;
        padding: $spacer-2;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }

    .awesomplete > ul {
        position: fixed;
        left: auto;
        width: auto;
        min-width: 120px;
    }
}

.dt-cell--highlight {
    background-color: $gray-200;
}
