@import "node_modules/bootstrap/scss/bootstrap";

// html {
// 	font-size: 14px;
// }

.desk {
	padding: 0px;
}

.nav {
	display: none;
	border-bottom: 1px solid $border-color;
	align-items: center;
	justify-content: center;
}

.two-column {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: minmax(100%, auto);
}

.main, .sidebar {
	padding: 2rem;
	min-height: 100vh;
}

.sidebar {
	border-right: 1px solid $border-color;
}

.hide {
	display: none !important;
}

.page-error {
	text-align: center;
	padding: 200px 0px;
}

.form-body {
	.form-toolbar {
		height: 2rem;
		margin-bottom: 1rem;
	}

	.alert {
		margin-top: 1rem;
	}
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

.list-search {
	max-width: 400px;
	margin-bottom: 1rem;
}