@import "node_modules/bootstrap/scss/bootstrap";

html {
	font-size: 14px;
}

.hide {
	display: none !important;
}

.page-error {
	text-align: center;
	padding: 200px 0px;
}

.form-body {
	max-width: 600px;

	.form-toolbar {
		height: 2rem;
		margin-bottom: 1rem;
	}

	.alert {
		margin-top: 1rem;
	}
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}