@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/awesomplete/awesomplete";
@import "node_modules/flatpickr/dist/flatpickr";
@import "node_modules/flatpickr/dist/themes/airbnb";

$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 1rem;
$spacer-4: 2rem;

$page-width: 500px;

html {
	font-size: 12px;
}

.desk-body {
	border-left: 1px solid $gray-300;
	min-height: calc(100vh - 50px);
}

.desk-center {
	border-left: 1px solid $gray-300;
}

.desk-menu {
	margin-right: -1px;

	.list-group-item {
		padding: $spacer-2 $spacer-3;
		border: none;
	}

	.list-group-flush {
		margin-left: -$spacer-3;
		margin-right: -$spacer-3;
	}
}

.hide {
	display: none !important;
}

.page {
	max-width: $page-width;
	padding-bottom: $spacer-4;
}

.page-head {
	padding-top: $spacer-3;
	padding-bottom: $spacer-3;

	.btn {
		margin-right: $spacer-2;
	}
}

.page-error {
	text-align: center;
	padding: 200px 0px;
}

.form-body {
	max-width: $page-width;

	.form-toolbar {
		height: $spacer-4;
		margin-bottom: $spacer-3;
	}

	.alert {
		margin-top: $spacer-3;
	}
}


.list-body {
	margin-left: -15px;
	margin-right: -15px;

	.list-row {
		padding: $spacer-2 15px;
		border-bottom: 1px solid $gray-200;
		.checkbox {
			margin-right: $spacer-2;
		}

		a, a:hover, a:visited, a:active {
			color: $gray-800;
		}
	}
}


.dropdown-item {
	padding: $spacer-2 $spacer-3;
}

.awesomplete {
	display: block;
}

.awesomplete > ul > li {
	padding: .75rem .375rem;
}

.awesomplete > ul > li:hover {
	background: $gray-300;
	color: $body-color;
}

.awesomplete > ul > li[aria-selected="true"] {
	background: $gray-300;
	color: $body-color;
}

.awesomplete > ul > li[aria-selected="true"]:hover {
	background: $gray-300;
	color: $body-color;
}

mark {
	padding: none;
	background: inherit;
}

.awesomplete li[aria-selected="true"] mark, .awesomplete li[aria-selected="false"] mark {
    background: inherit;
	color: inherit;
	padding: 0px;
}

.table-wrapper {
	margin-top: $spacer-4;
	margin-bottom: $spacer-4;
}

.table-toolbar {
	margin-top: $spacer-2;
}

.data-table thead td {
	border-bottom: 0px !important;
	background-color: $gray-200 !important;
}

.data-table-col .edit-cell {
	padding: 0px !important;

	input, textarea {
		border-radius: none;
		margin: none;
		padding: $spacer-1;
	}

	.awesomplete > ul {
		position: fixed;
		left: auto;
		width: auto;
		min-width: 120px;
	}
}
