.slide-fade-enter-active {
  transition: all 0.4s ease 0.1s;
}
.slide-fade-leave-active {
  transition: all 0.2s ease;
  position: absolute;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-12px);
  opacity: 0;
}
.slide-fade-move {
  transition: transform 0.3s 0.1s;
}
