@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';
@import '~frappe-datatable/dist/frappe-datatable.css';
@import '~inter-ui/inter.css';

html {
  font-size: $font-size !important;
  overflow: hidden;
}

body {
  font-family: 'Inter';
}
